.container {
    background: url('/images/UTCJ.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el título principal */
.display-3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Estilos para los botones */
.btn-lg {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

/* Estilos para la tarjeta */
.card {
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    background-color: #000000;
    color: #fff;
}

.card-body {
    background-color: #f8f9fa;
}
